h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.75rem;
	font-weight: 600;
}

h2{
	font-family: 'Montserrat', sans-serif;
}

.container-fluid{
	padding: 0 15% 1%;
	padding-bottom: 4%;

}

/*NAVBAR*/



.navbar-brand{
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
	padding-top: 20px;
	margin-bottom: 0;
}

.navbar{
	padding: 0 0 4.5rem;
	color: black;
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

/*MIDDLE CONTAINER*/

#middle-container{
	background-color: #64C9CF;
}

.h1-mid{
	font-size: 2.6rem;
}
.foto-buku{
	width: 30%;
	margin: 0 0 7% 12%;
	position: absolute;
	padding-bottom: 15%;
	right: 17%;
}

.text-mid{
	width: 95%;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

.text2-mid{
	font-weight: 400;
}
.download-button{
	margin: 5% 3% 5% 0;
}

/*ARTIKEL*/
#artikel{
	background-color: white;
	position: relative;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.h1-artikel{
	margin: 1% 0 5%;
}

.icon-artikel{
	margin-bottom: 4%;
	color: #3C5186;
}

.text-artikel{
	width: 65%;
	margin: 0 auto 10% auto;
}

.klik-artikel{
	margin: 3% 0 2%;
	font-size: 1.5rem;
}

/*BOTTOM CONTAINER*/

#bottom-container{
/*	background-image: linear-gradient(
    120deg,
    #64C9CF,
    rgb(253, 251, 251),
    #64C9CF);*/
	text-align: center;
	background-color: #EDF6E5;
	
}

.h1-bottom{
	text-align: center;
	font-size: 2.5rem;
	padding: 10px 0 50px;
	font-family: 'Poppins', sans-serif;

}

.logo{
	margin-top: 5%;
}

.icon-html{
	color: #E54C21;
}

.icon-css{
	color: blue;
}

.icon-bootstrap{
	color: #8E0BFD;
}

.text-bottom{
	width: 35%;
	margin: 3% auto 5% auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}


/*FOOTER*/

#footer{
	text-align: center;
	
}

.icon-footer{
	color: black;
	margin: 5% 3% 4% 2%;
}


@media(max-width: 990px){
	.foto-buku{
		position: static;
	width: 50%;
	margin-left: 20px;
}}



/*FONT*/
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/
